<mat-card class="container">
    <h1 class="heading"><b>Login</b></h1>
    <form [formGroup]="loginForm">
        <mat-card class="innerCard">
            <h2>Username</h2>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username">
            </mat-form-field>

            <h2>Password</h2>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="login()">Login</button>
        </mat-card>
    </form> 
</mat-card>