.container{
    margin: auto;
    width: 500px;
    height: 460px;
    padding: 30px;
    background-color: #1976d2;
    border-radius: 15%;
}
.innerCard{
    border-radius: 10%;
    padding: 30px;
}
.heading{
    color: white;
    font-family: auto;
    font-size: xx-large;
    margin-left: 40%;
}